body {
	/*Gradient Animation from CSS Gradient Animator, https://www.gradient-animator.com/ */
  background: linear-gradient(225deg, #9b9ef1, #7873eb, #5c7be9);
  background-size: 600% 600%;
  font-family: Verdana;
  font-size: 60px;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 81%}
      50%{background-position:100% 20%}
      100%{background-position:0% 81%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 81%}
      50%{background-position:100% 20%}
      100%{background-position:0% 81%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 81%}
      50%{background-position:100% 20%}
      100%{background-position:0% 81%}
  }
}

#togglePage {
  color: white;
  cursor: pointer;
  border: white 3px solid;
  padding: 10px;
  background-color: #CED2DE;
  border-radius: 10px;
  font-size: 25px;
}

#mainContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#shepherdLogo {
  margin: 20px;
}

#logoImg {
  width: 40%;
  padding-left: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#distanceUpdate {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
