html, body {
  margin: 0;
  padding: 0;
}

body {
	/*Gradient Animation from CSS Gradient Animator, https://www.gradient-animator.com/ */
  background: linear-gradient(225deg, #9b9ef1, #7873eb, #5c7be9);
  background-color: black;
  background-size: cover;
  font-size: 60px;
  height: 800px;
}

#togglePage {
  color: white;
  cursor: pointer;
  border: white 2px solid;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #505050;
  border-radius: 10px;
  font-size: 25px;
}

#mainContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  /* position: relative; */
}

#shepherdLogo {
  margin: 20px;
}

#logoImg {
  width: 40%;
  padding-left: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#distanceUpdate {
  font-size: 25px;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
}

#happyOrNot {
  font-size: 20px;
  color: white;
  background-color: transparent;
}

.fa-cog {
  /* position: absolute;
  bottom: -90px;
  right: 100px; */
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  margin-top: 20px;
}

.audioSettingBtn {
  margin-top: 40px;
  color: white;
  cursor: pointer;
  border: none 2px solid;
  padding: 10px;
  background-color: #858585;
  border-radius: 10px;
  font-size: 15px;
}

@media (max-width: 540px) {
  #shepherdLogo {
    margin-top: 100px;
    font-size: 45px;
  }
}

@media (max-width: 715px) {
  .audioSettingBtn {
    display: block;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #858585;
    border-radius: 10px;
    font-size: 15px;
  }
}
